 {% extends 'commerce/base.html' %}


{% block content %}

</br></br>
<div class='col-md-6 offset-md-3'>
<center>

<div class="card mb-3" style="max-width: 500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ item.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}.</p>

        {% if item.is_sale %}

        <h4 style="display: inline-block;"><strike>{{ item.price }}</strike> {{ item.sale_price }}</h4></br></br>

        {% else  %}

        <h4 style="display: inline-block;">{{ item.price }}</h4></br></br>

        {% endif %}
        <button type='button' value="{{ item.id }}" class="btn btn-secondary" id="add-cart"> Add to Cart</button></br></br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
      </div>
    </div>
  </div>
</div>

</center>
</div>

<script type="text/javascript">
  // check if button is pressed
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url 'cart_add' %}',
      data: {
        product_id: $('#add-cart').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },

      success: function(json){
        console.log(json)
      },

      error: function(xhr, errmsg, err){

      }
    });
  })






</script>

{% endblock %}